<%- include('../../partials/navbar')%>
<%- include('../../partials/header')%>
<div class="container">
<hr>
<h2>Usuários</h2>
<a class="btn btn-success" href="/admin/user/create">Criar Novo Usuário</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
       <% users.forEach(user=>{%>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
</div>

<%- include('../../partials/footer')%>
<script>
    //confirmacao de exclusão
    function confirmarDelecao(event,form){
        event.preventDefault()
        const decision = confirm('Você quer deletar essa categoria ?')
        if(decision){
            form.submit()
        }
    }
</script>